<%- include("../includes/header")%>
<%- include("../includes/navbar")%>
<div class="container-fluid">
    <%posts.forEach(post=>{%>
    <form action="/r/<%=post.subforum.name%>/<%= post.title %>/editpost" method="POST" class="flexColumn createPostBox">
        <img src="/static/image/post/post.svg" class="createImg">
        <p>Edit a post</p>
        <div class="flexColumn editBox">
            <select name="subforum" class="subforumBtn btn btn-danger">
                <option value="<%=post.subforum.id%>" selected><%=post.subforum.name%></option>
            </select>
            Title <input name="title" class="createLine" type="text" value="<%= post.title %>" readonly>
            Content <textarea name="content" class="content" rows="13"><%= post.content %></textarea>
            <button type="submit" class="btn btn-danger postBtn">Update</button>
        </div>
    </form>
    <%})%>
</div>